<!DOCTYPE html>
<html>
<head>
	<title>Accepted Bookings</title>
	<script src="https://cdn.tailwindcss.com"></script>	
</head>
<body>
	<div class="container mx-auto">
		<h1 class="text-2xl font-bold mb-4">Accepted Bookings</h1>
		<table class="w-full">
			<thead>
				<tr class="bg-green-500">
					<th class="text-white py-2 px-2 sm:px-4 text-sm text-left">Date</th>
					<th class="text-white py-2 px-2 sm:px-4 text-sm text-left">Time</th>
					<th class="text-white py-2 px-2 sm:px-4 text-sm text-left">Status</th>
				</tr>
			</thead>
			<tbody>
				{% for booking in bookings %}
					<tr>
						<td>{{ booking[2] }}</td>
						<td>{{ booking[3] }}</td>
						<td>{{ booking[4] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="/" class="inline-block mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition-transform duration-300 transform hover:scale-105">
			Back to Home
		</a>
	</div>
</body>
</html>
