<!DOCTYPE html>
<html>
<head>
    <title>Holiday Park</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header>
        <h1 class="text-xl">Fonteyn Holidayparks test</h1>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <nav class="menu-buttons">
            {% if 'username' in session %}
                <span class="text-xl">Welcome, {{ session['username'] }}!</span>
                {% if session['type'] == 'admin' %}
                <a href="/manage_bookings" class="relative inline-block transform transition-transform hover:scale-105">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                      Admin Panel
                    </button>
                  </a>
                {% endif %}
                  <a href="/booking" class="relative inline-block transform transition-transform hover:scale-105">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                      Bookings
                    </button>
                  </a>
                  <a href="/logout" class="relative inline-block transform transition-transform hover:scale-105">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                      Log out
                    </button>
                  </a>
            {% else %}
                <a href="/login" class="relative inline-block transform transition-transform hover:scale-105">
                    <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
                    Log in
                    </button>
                </a>
            {% endif %}
        </nav>
    </header>
    
    
    
    <main>
        <h2>Welcome to Fonteyn Holidayparks</h2>
        <p>Our Holiday Park is located in the heart of nature, surrounded by beautiful trees and greenery. We offer a wide range of activities and accommodations for families, couples, and individuals.</p>
        <p>Some of the activities we offer include hiking, biking, swimming, and fishing. We also have playgrounds for children and a restaurant that serves delicious food.</p>
        <p>Whether you're looking for a relaxing getaway or an adventurous vacation, we have something for everyone. Come visit us and experience the beauty of nature!</p>
    </main>
    <footer>
        <a href="/about"><button>Contact Us</button></a>
    </footer>
</body>
</html>
